/* shared style */
body {
    font-family: 'Open Sans', sans-serif;
}

.text-primary {
    color: #FD6E0A;
}

.btn-primary {
    border-radius: 5px;
    background: #FD6E0A;
    color: #fff;
    border: 0;
    font-size: 20px;
    font-weight: 700;
    padding: 18px 35px;
}

.section-title {
    color: #181818;
    text-align: center;
    font-size: 35px;
    font-weight: 700;

}

/* Nav Realated Style */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 200px;
}

.nav-title {
    color: black;
    font-size: 45px;
    font-style: normal;
    font-weight: 800;

}

nav>ul {
    display: flex;
    align-items: center;
}

nav li {
    list-style: none;
    margin-right: 50px;
}

nav a {
    text-decoration: none;
    color: #474747;
}

/* header related style */
.header {
    background-color: #FFF8F3;
    background-image: url('images/header_bg.png');
    background-repeat: no-repeat;
    /* background-size: 500px; */
    background-position: bottom right;
}

.banner {
    padding: 30px 30px 0 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.banner-contant {
    max-width: 500px;
}

.banner .profile-picture {
    width: 500px;
    /* height: 400px; */

}

.banner-gratting {
    font-size: 45px;
    color: #474747;
    margin-bottom: 0;
}

.banner-title {
    font-size: 55px;
    font-weight: 700;
    margin-top: 5px;
    margin-bottom: 20px;
}

.banner-description {
    color: #757575;
    font-size: 18px;
    line-height: 30px;
}

/* main area style */
main {
    max-width: 1140px;
    margin: 0 auto;
}

/* about area start */
.about {
    padding: 130px;
    border-radius: 10px;
    background-color: #FFF8F3;
    margin: 130px 0;

}

.section-description {
    color: #757575;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    /* 166.667% */
}

.about-info-container {
    display: flex;
    justify-content: space-between;
    gap: 50px;
}

.about-info .info-title {
    color: #757575;
    text-align: center;
    font-size: 20px;
    font-weight: 400;
}

.about-info .info-description {
    color: #474747;
    font-size: 20px;
    font-weight: 700;

}

#what-i-do-description {
    padding: 30px 150px;
    text-align: center;
    color: #757575;
    font-size: 18px;
    font-weight: 400;
}

.skills-container {
    display: flex;
}

.skill {
    padding: 30px;
    border: 1px solid #D1D1D1;
    box-shadow: 0 20 0 0 #D1D1D1 0.5;
}

.skill .skill-title {
    color: #181818;

    font-size: 20px;
    font-weight: 700;
}

.skill-description {
    color: #757575;
    font-size: 16px;
    font-weight: 400;
    text-align: justify;
}